<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %c - %M - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
    	<Logger name="modèle.objectif" level="trace">
        </Logger>
        <Logger name="modèle.FarmCrush" level="trace">
        </Logger>
        <Logger name="modèle.Grille" level="trace">
        </Logger>
        <Logger name="modèle.Case" level="trace">
        </Logger>
        <Logger name="vue.CrushControleur" level="trace">
        </Logger>
        <Logger name="modèle.bonbonEmballé" level="trace">
        </Logger>
        <Logger name="modèle.bonbonMulticolore" level="trace">
        </Logger>
        <Logger name="modèle.bonbonNormal" level="trace">
        </Logger>
        <Logger name="modèle.bonbonRayé" level="trace">
        </Logger>
²        <Root level="info">
            <AppenderRef ref="stdout"/>
        </Root>        
    </Loggers>
</Configuration>
